<mat-card class="example-card">
  <div class="header">
    <div class="instock-wrapper">
      <div class="instock">{{ order.inStock ? 'В наличии' : 'Нет в наличии' }}</div>
    </div>
    <interest-discount [count]="order.interestDiscount"></interest-discount>
  </div>
  <img mat-card-image [src]="order.photo" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h3>{{order.name}}</h3>
    <p>
      {{order.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="price">
      <p class="new-price">{{order.price | precentageDeduction: order.interestDiscount}}руб.</p>
      <p class="old-price">{{order.price}}руб.</p>
    </div>
    <button
      mat-button
      class="add-basket-button"
      type="button"
      (click)="onAddItem()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>