@import "../../theme";

$accent: map-get($theme, accent);
$primary: map-get($theme, primary);
$foreground: map-get($theme, foreground);
$warn: map-get($theme, warn);

:host {
    padding: 10px;
}
.example-card {
    max-width: 265px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }

    .mat-card-image {
        max-height: 300px;
    }
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }

  .price {
    text-align: center;
    align-self: center;

    .old-price {
      text-decoration: line-through;
      color: mat-color($primary, 500);
      font-size: 18px;
    }
  
    .new-price {
      font-size: 20px;
    }
  }
}

.instock-wrapper {
    border-radius: 5px;
    height: 18px;
    min-width: 16px;
    background-color: mat-color($accent, main);
    color: mat-color($primary, 50);
}

.instock {
    text-align: center;
    font-weight: bold;
    padding: 3px 4px;
    font-size: 14px;
    line-height: 10px;
}

.add-basket-button {
  padding: 10px 0;
  color: mat-color($foreground, accent-text);

  mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
      color: mat-color($warn, main);
  }
}