<section class="left-footer">
    <div class="logo">
        <img class="icon" src="assets/svg/bucket.svg">
        <div class="label">
            <p class="title"> {{ 'E-commerce' }} </p>
            <p class="description"> {{ 'Trusted Everywhere' }} </p>
        </div>
    </div>
</section>

<section class="middle-footer">
    <p>БЫСТРЫЕ ССЫЛКИ</p>
    <div class="list">
        <div class="row">
            <a routerLink="/agreement" target="_blank">Рассрочка</a>
            <a routerLink="/privacy" target="_blank">Пункты Самовывоза</a>
            <a routerLink="/datapolicy" target="_blank">Дисконтная программа</a>
            <a routerLink="/software" target="_blank">Отзывы о нас</a>
            <a routerLink="/software" target="_blank">Уцененный товар</a>
        </div>
        <div class="row">
            <a routerLink="/agreement" target="_blank">Обслуживание юрлиц</a>
            <a routerLink="/privacy" target="_blank">Помощь в выборе товара</a>
            <a routerLink="/datapolicy" target="_blank">Вакансии</a>
            <a routerLink="/software" target="_blank">Пожаловаться руководству</a>
            <a routerLink="/software" target="_blank">Обратная связь</a>
        </div>
    </div>
</section>

<section class="right-footer">
    <p>ДЛЯ ПОКУПАТЕЛЕЙ</p>
    <div class="list">
        <div class="row">
            <a routerLink="/agreement" target="_blank">Личный кабинет</a>
            <a routerLink="/privacy" target="_blank">Списки желаний</a>
            <a routerLink="/datapolicy" target="_blank">Гарантия и сервис</a>
            <a routerLink="/software" target="_blank">Информация для покупателей</a>
            <a routerLink="/software" target="_blank">Договор публичной оферты</a>
        </div>
    </div>
</section>
