@import "../../../../theme";

$primary: map-get($theme, primary);

.teams-title {
    display: flex;
    background-color: mat-color($primary, darker);
    color: mat-color($primary, 50);
    z-index: 101;
}