<mat-toolbar>
    <div class="logo" onclick="window.location.href='#'">
        <mat-icon>shopping_cart</mat-icon>
        <div class="label">
            <p class="title"> {{ name }} </p>
            <p class="description"> {{ description }} </p>
        </div>
    </div>
    <search-bar
        [searchDebounceTime]="searchDebounceTime"
        [showSearchHint]="showSearchHint"
        [title]="title"
        [searchTerm]="searchTerm"
        (searchChange)="searchChanged.emit($event)">
    </search-bar>

    <div class="actions">
        <button class="email" mat-button>
            <a mat-menu-item [href]="'mailto:' + email">
                <mat-icon mat-list-icon>email</mat-icon>
                <span>{{ email }}</span>
            </a>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>call</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>shopping_cart</mat-icon>
            {{'32,23 руб'}}
        </button>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu" classList="page-header-menu">
    <a mat-menu-item *ngFor="let mobile of mobilePhones" [href]="'tel:' + mobile">
        <mat-icon mat-list-icon>phone</mat-icon>
        <span>{{ mobile }}</span>
    </a>
</mat-menu>
