<section>
    <technology-section *ngFor="let model of models"
        [model]="model">
    </technology-section>
</section>

<section class="container" id="stocks">
    <mat-divider></mat-divider>
    <div class="page-header">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="checkOffer">
            <mat-radio-button class="example-radio-button" *ngFor="let offer of offers" [value]="offer">
                {{offer}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="full-width">
        <product-card *ngFor="let order of orders"
            [order]="order">
        </product-card>
    </div>
    <div class="footer">
        <button
            mat-raised-button
            type="button"
            color="primary"
            tabindex="-1"
            (click)="onLoad()">
            Загрузить еще
        </button>
    </div>
</section>
